
/* Normolaze css*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}


h2,
h3,
h4,
h6,
p, ul{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none; 
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    max-width: 1440px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
/* End Normolaze css */
.header{
background-image: url("image/Background.png");
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
width: 100vw;
}
.header-left{
    background: url(<path-to-image>), ;
}
.header-centre{
    width: 269px;
height: 47px;
flex-shrink: 0;
padding: 44px, 685px;
}
.hero-left{
   margin: 30px;
}
.hero-right h2 {
    width: 517px;
height: 282px;
flex-shrink: 0;
color: #FFF;
font-family: Rubik;
font-size: 99.17px;
font-weight: 700;
line-height: 100%;
text-transform: uppercase;
margin: 30px 167px;
}
.hero-right h3{
    margin: 100px;
    color: #FFF;
font-family: Rubik;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 130%;
}

.shoulder-1 h1{
    text-align: center;
    margin: 40px 500px;
    width: 508px;
    height: 101px;
    flex-shrink: 0;
    color: #180202;
text-align: center;
font-family: Rubik;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 130%;
}
.wrapper {
    text-align: center;
    width: 1440px;
    height: 300px;
}
.card:hover{
    transform: scale(1.5);
}
.card {
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: rgb(242, 246, 242);
display: inline-block;
flex-grow: 1;
}
/*3*/
.card-2 {
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: rgb(242, 246, 242);
display: inline-block;
flex-grow: 1;
}
.card-left2{
    background-image: url(image/Rectangle\ 66.png);
    width: 332px;
height: 331px;
flex-shrink: 0;
}
.card-centre2{
    background-image: url(image/Rectangle\ 67.png);
    width: 332px;
height: 331px;
flex-shrink: 0;
}
.card-right2{
    background-image: url(image/Rectangle\ 68.png);
    width: 332px;
height: 331px;
flex-shrink: 0;
}
/*end card-2*/

/* Subcribe*/
.wrapper{
    background-image: url(image/subscribe.png);
    background-repeat: no-repeat;
    background-position: center;
}
.main{
    border-radius: 82px;
background: #FFF4F4;
padding: 54px, 130px;
width: 712px;
height: 292px;
margin: 0 auto;
}
.main h1{
    color: #180202;
text-align: center;
font-family: Rubik;
font-size: 44px;
font-style: normal;
font-weight: 700;
line-height: 130%;
}
.main p{
    color: #180202;
text-align: center;
font-family: Rubik;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.holder{
    border-radius: 73px;
background: #FFF;
display: flex;
justify-content: space-between;
align-items: center;
}
button{
    border-radius: 50px;
background: #FF4948;
border: none;
color: #FFF;
font-family: Rubik;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 140%; 
padding: 15px 30px;
}
input{
    border: 1px solid transparent;
    width: 100%;
    height: 50px;
    border-radius: 72px;
    padding: 0,;
}
input:focus{
   outline: none;
}

.yellow h2 {
    padding: 44px, 57px;
    width: 390px;
height: 105px;
    color: #000;
    font-family: Rubik;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 57.2px */
}
.yellow h3 {
    color: #000;
font-family: Rubik;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 30.8px */
}






.hero2{
    margin: 65px;
}

.hero2-title-2{
    padding: 44px, 57px;
    width: 390px;
height: 105px;
    color: #000;
    font-family: Rubik;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;

}
.hero2-subtitle-2{
    color: #000;
font-family: Rubik;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}
.hero-title img{  
    margin: 50px;
    width: 20px;
height: 20px;
flex-shrink: 0;
}